<!doctype html>
<html>
  <head>
    <title>Dapi</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    {% block head_scripts %}{% endblock %}
  </head>
  <body>
    <ul id="menu">
      <li><a href="{% url 'dapi.views.index' %}">index</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'dapi.views.upload' %}">upload</a></li>
      <li><a href="{% url 'dapi.views.user' user.username %}">{{ user.username }}</a><ul>
        <li><a href="{% url 'dapi.views.user_edit' user.username %}">edit profile</a></li>
        <li><a href="{% url 'dapi.views.logout' %}">logout</a></li>
      </ul></li>
      {% else %}
      <li>login:<ul>{% for name in backends.not_associated %}
        <li><a href="{% url 'social:begin' name %}?next={{ request.path }}">{{ name }}</a></li>
      {% endfor %}</ul></li>
      {% endif %}
      <li><a href="{% url 'api-root' %}">API</a></li>
    </ul>

    
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="get" action="/search">
        {{ search_form.as_p }}
        <p><input type="submit" value="Search" /></p>
    </form>
    {% block content %}{% endblock %}
    {% block scripts %}{% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" type="text/javascript"></script>
  </body>
</html>
