{% extends "dapi/base.html" %}
{% block content %}
<h1>Reports for {{ dap }}</h1>
{% for report in reports %}
<h3>{{ report.get_problem_display }}</h3>
{{ report.message|linebreaks }}
{% if user.is_staff %}
<p>Reported by
{% if report.reporter %}
    <a href="{% url 'dapi.views.user' report.reporter %}">{{ report.reporter }}</a>
{% elif report.email %}
    <a href="mailto:{{ report.email }}">{{ report.email }}</a>
{% else %}
    <em>anonymous</em>
{% endif %}
</p>
{% endif %}
{% endfor %}
{% if not reports %}
<p>No unsolved reports for this dap, hurrah!</p>
{% endif %}
<p><a href="{% url 'dapi.views.dap_report' dap.package_name %}">Report this dap</a>.</p>
{% endblock %}
