{% extends "dapi/base.html" %}
{% block title %}{{ dap }} tags{% endblock %}
{% block content %}
<div class="page-header">
  <h1>Tags for <a href="{% url 'dapi.views.dap' dap.package_name %}">{{ dap }}</a></h1>
</div>
<form method="post">
  {% csrf_token %}
  <p>{{ form.tags.help_text }}</p>
  {{ form.non_field_errors }}
  {{ form.tags.errors }}
  <div class="input-group">
    <input id="id_tags" name="tags" type="text" value="{{ form.tags.value }}" class="form-control" />
    <div class="input-group-btn">
      <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-tags"></span> Save tags</button>
    </div>
  </div>
</form>

{% endblock %}
