{% extends "dapi/base.html" %}
{% block title %}Reports for {{ dap }}{% endblock %}
{% load gravatar %}
{% block content %}
<div class="page-header">
  <h1>Reports for <a href="{% url 'dapi.views.dap' dap.package_name %}">{{ dap }}</a></h1>
</div>
<p><a href="{% url 'dapi.views.dap_report' dap.package_name %}" class="btn btn-danger btn-sm">
<span class="glyphicon glyphicon-warning-sign"></span> Report {{ dap }}</a></p>

{% for report in reports %}
<div class="panel panel-{% if report.solved %}success{% else %}danger{% endif %}">
  <div class="panel-heading"><strong>{{ report.get_problem_display }}</strong>
    <span class="glyphicon glyphicon-{% if report.solved %}ok{% else %}exclamation{% endif %}-sign pull-right"></span>
  </div>
  <div class="panel-body">
    {{ report.message|linebreaks }}
  </div>
  <ul class="list-group">
    {% if report.versions.exists %}
    <li class="list-group-item">Versions specified:
    {% for ver in report.versions.all %}
    <a href="{% url 'dapi.views.dap_version' ver.metadap.package_name ver.version %}">{{ ver }}</a>,
    {% endfor %}
    </li>
    {% endif %}
    {% if user.is_staff %}
    <li class="list-group-item">Reported by
    {% if report.reporter %}
      <a href="{% url 'dapi.views.user' report.reporter.username %}">
      {% gravatar report.reporter.email 16 report.reporter.username %} {{ report.reporter.username }}</a>
    {% elif report.email %}
      <a href="mailto:{{ report.email }}"><span class="glyphicon glyphicon-envelope"></span> {{ report.email }}</a>
    {% else %}
      <em>anonymous</em>
    {% endif %}
    </li>
  </ul>
  <div class="panel-footer">
    {% if report.solved %}
    <p class="text-right"><a href="{% url 'dapi.views.report_toggle_solve' report.id %}" class="btn btn-danger btn-sm">
      <span class="glyphicon glyphicon-exclamation-sign"></span> Mark as unsolved</a>
    </p>
    {% else %}
    <p class="text-right"><a href="{% url 'dapi.views.report_toggle_solve' report.id %}" class="btn btn-success btn-sm">
      <span class="glyphicon glyphicon-ok-sign"></span> Mark as solved</a>
    </p>
    {% endif %}
  </div>
  {% else %}
  </ul>
  {% endif %}
</div>
{% empty %}
<p>No unsolved reports for {{ dap }}, hurrah!</p>
{% endfor %}
{% endblock %}
