{% extends "dapi/base.html" %}
{% block content %}
<h1>{% if dap %}{{ dap }}{% else %}{{ metadap }}{% endif %}</h1>
<ul>
    {% if not metadap.active %}
    <li>Warning, this dap is not active. Consider it as deleted.</li>
    {% endif %}
    {% if dap %}
    <li>{{ dap.summary }}</li>
    <li>License: {{ dap.license }}</li>
    {% if dap.homepage %}
    <li><a href="{{ dap.homepage }}">homepage</a></li>
    {% endif %}
    {% if dap.bugreports %}
    <li><a href="{{ dap.bugreports }}">bugreports</a></li>
    {% endif %}
    {% if dap.description %}
    <li>{{ dap.description }}</li>
    {% endif %}
    {% if dap.is_pre %}
    <li>Warning, this is a prerelease!</li>
    {% if dap != metadap.latest %}
    <li>Warning, this is not the latest version available!</li>
    {% endif %}
    {% else %}
    {% if dap != metadap.latest_stable %}
    <li>Warning, this is not the latest stable version available!</li>
    {% endif %}
    {% endif %}
    <li>Authors:
        <ul>
        {% for author in dap.author_set.all %}
            <li>{{ author }}</li>
        {% endfor %}
        </ul>
    </li>
    <li><a href="{{ dap.file.url }}">download</a></li>
    {% else %}
    <li>All version of this dap were deleted</li>
    {% endif %}
    <li>Owned by <a href="{% url 'dapi.views.user' metadap.user %}">{{ metadap.user }}</a>
    {% if metadap.comaintainers.exists %}
        <ul>
        {% for comaintainer in metadap.comaintainers.all %}
            <li><a href="{% url 'dapi.views.user' comaintainer %}">{{ comaintainer }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    </li>
    {% if metadap.tags.exists %}
    <li>Tags:<ul>
    {% for tag in metadap.tags.all %}
        <li><a href="{% url 'dapi.views.tag' tag.slug %}">{{ tag }}</a></li>
    {% endfor %}
        {% if user == metadap.user or user in metadap.comaintainers.all or user.is_superuser %}
        <li><a href="{% url 'dapi.views.dap_tags' metadap %}">manage tags</a></li>
        {% endif %}
    </ul></li>
    {% else %}
    {% if user == metadap.user or user in metadap.comaintainers.all or user.is_superuser %}
    <li><a href="{% url 'dapi.views.dap_tags' metadap %}">add tags</a></li>
    {% endif %}
    {% endif %}
    {% if user == metadap.user or user.is_superuser %}
    <li><a href="{% url 'dapi.views.dap_admin' metadap %}">admin</a></li>
    {% endif %}
</ul>

<h2>Available versions</h2>
<ul>
{% for version in metadap.sorted_versions %}
    <li><a href="{% url 'dapi.views.dap_version' metadap.package_name version %}">{{ version }}</a></li>
{% endfor %}
</ul>

{% if similar %}
<h2>Similar daps</h2>
<ul>
{% for sim in similar %}
    <li><a href="{% url 'dapi.views.dap' sim %}">{{ sim }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
