{% extends "dapi/base.html" %}
{% block title %}{% if dap %}{{ dap }}{% else %}{{ metadap }}{% endif %}{% endblock %}
{% load markdown %}
{% load gravatar %}
{% load deplink %}
{% block content %}
<div class="page-header">
  <h1>{% if dap %}{{ dap }}{% else %}{{ metadap }}{% endif %}
  <small>{{ dap.summary }}</small></h1>
</div>

{% if not metadap.active %}
<div class="alert alert-warning">Warning, this dap is not active. Consider it as deleted.</div>
{% endif %}
{% if dap.is_pre %}
<div class="alert alert-warning">Warning, this is a prerelease!</div>
{% if dap != metadap.latest %}
<div class="alert alert-warning">Warning, this is not the <a href="{% url 'dapi.views.dap_version' metadap.package_name metadap.latest.version %}">latest version available</a>!</div>
{% endif %}
{% else %}
{% if dap != metadap.latest_stable %}
<div class="alert alert-warning">Warning, this is not the <a href="{% url 'dapi.views.dap_version' metadap.package_name metadap.latest_stable.version %}">latest stable version available</a>!</div>
{% endif %}
{% endif %}
{% if reports %}
<div class="alert alert-warning">Warning, this dap has <a href="{% url 'dapi.views.dap_reports' metadap.package_name %}">{{ reports.count }} unconfirmed report{{ reports.count|pluralize }}</a>!</div>
{% endif %}

{% if dap.description %}{{ dap.description|markdown }}{% endif %}

{% if metadap.tags.exists %}
<div class="row">
<ul class="list-inline text-center">
{% for tag in metadap.tags.all|dictsort:"name" %}
  <li><a class="label label-info" href="{% url 'dapi.views.tag' tag.slug %}"><span class="glyphicon glyphicon-tag"></span> {{ tag }}</a></li>
{% endfor %}
</ul>
</div>
{% endif %}

<div class="row">
  <div class="container col-sm-4">
    {% if metadap.average_rank %}
    <p><span class="glyphicon glyphicon-star"></span> {{ metadap.average_rank|floatformat }} (ranked {{ metadap.rank_count }} times)</p>
    {% endif %}
    {% if user.is_authenticated %}
    <p><span class="glyphicon glyphicon-star-empty"></span> 
    {% for i in "xxxxx" %}
    <a class="badge{% if forloop.counter == rank %} alert-success{% endif %}" href="{% url 'dapi.views.dap_rank' metadap forloop.counter %}">
      {{ forloop.counter }}
    </a>
    {% endfor %}
    {% if rank %}
    <a href="{% url 'dapi.views.dap_rank' metadap 0 %}" class="badge">unset</a>
    {% endif %}
    </p>
    {% endif %}
    <p>{% gravatar metadap.user.email 16 metadap.user.username %} Owned by <a href="{% url 'dapi.views.user' metadap.user %}">{{ metadap.user }}</a></p>
    {% if metadap.comaintainers.exists %}
    <p><span class="glyphicon glyphicon-user"></span> Comaintained by:<ul class="list-unstyled">
      {% for comaintainer in metadap.comaintainers.all %}
      <li>{% gravatar comaintainer.email 16 comaintainer.username %}  <a href="{% url 'dapi.views.user' comaintainer %}">{{ comaintainer }}</a></li>
      {% endfor %}
    </ul></p>
    {% endif %}
    {% if dap %}
    <p><span class="glyphicon glyphicon-retweet"></span> {{ dap.license }}</p>
    {% if dap.homepage %}
    <p><span class="glyphicon glyphicon-globe"></span> <a href="{{ dap.homepage }}">homepage</a></p>
    {% endif %}
    {% if dap.bugreports %}
    <p><span class="glyphicon glyphicon-exclamation-sign"></span> <a href="{{ dap.bugreports_link }}">bugreports</a></p>
    {% endif %}
    <p><span class="glyphicon glyphicon-ok-sign"></span> <abbr title="SHA256: {{ dap.sha256sum }}">{{ dap.sha256sum|slice:":12" }}</abbr></p>
    {% endif %}
    {% if dap.dependency_set.exists %}
      <p><span class="glyphicon glyphicon-paperclip"></span> dependencies:<ul>
      {% for dep in dap.dependency_set.all|dictsort:"dependency" %}
        <li>{{ dep|deplink }}</li>
      {% endfor %}
      </ul></p>
    {% endif %}
      <p><span class="glyphicon glyphicon-screenshot"></span> supported platforms:<ul>
    {% if dap.supported_platforms.exists %}
      {% for platform in dap.supported_platforms.all|dictsort:"platform" %}
        <li>{{ platform }}</li>
      {% endfor %}
    {% else %}
        <li>all</li>
    {% endif %}
      </ul></p>
    {% if user == metadap.user or user in metadap.comaintainers.all or user.is_superuser %}
    <p><a href="{% url 'dapi.views.dap_tags' metadap %}" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-tags"></span> Manage tags</a></p>
    {% endif %}
    {% if user == metadap.user or user.is_superuser %}
    <p><a href="{% url 'dapi.views.dap_admin' metadap %}" class="btn btn-primary btn-xs">
    <span class="glyphicon glyphicon-minus-sign"></span> Administrate {{ metadap }}</a></p>
    {% endif %}
    {% if user in metadap.comaintainers.all %}
    <p><a href="{% url 'dapi.views.dap_leave' metadap %}" class="btn btn-warning btn-xs">
    <span class="glyphicon glyphicon-plane"></span> Leave {{ metadap }}</a></p>
    {% endif %}
    <p><a href="{% url 'dapi.views.dap_report' metadap.package_name %}" class="btn btn-danger btn-xs">
    <span class="glyphicon glyphicon-warning-sign"></span> Report {{ metadap }} as evil</a></p>
    <p><a href="{{ dap.file.url }}" class="btn btn-success btn-lg">
    <span class="glyphicon glyphicon-download"></span> Download</a></p>
  </div>

{% if metadap.sorted_versions %}
  <div class="container col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Available versions <span class="glyphicon glyphicon-th-list pull-right"></span></div>
      <ul class="list-group">
      {% for version in metadap.sorted_versions %}
        <li class="list-group-item">
          <a href="{% url 'dapi.views.dap_version' metadap.package_name version %}">{{ version }}</a>
          {% if user == metadap.user or user in metadap.comaintainers.all or user.is_superuser %}
          <a href="{% url 'dapi.views.dap_version_delete' metadap.package_name version %}" class="pull-right btn btn-danger btn-xs">
          <span class="glyphicon glyphicon-trash"></span> Delete</a>
          {% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if similar %}
  <div class="container col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Similar daps <span class="glyphicon glyphicon-tags pull-right"></span></div>
      <ul class="list-group">
      {% for sim in similar %}
        <li class="list-group-item"><a href="{% url 'dapi.views.dap' sim %}" title="{{ sim.latest.summary }}">{{ sim }}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

</div>

{% endblock %}
