{% extends "dapi/base.html" %}
{% load gravatar %}
{% block content %}

{% if daps_list %}
<div class="page-header">
  <h1>{% block title %}{% if tag %}DAPs tagged with {{ tag }}{% else %}All active DAPs{% endif %}{% endblock %}</h1>
</div>
{% if daps_list.paginator.num_pages > 1 %}
<ul class="pagination">
  {% for p in daps_list.paginator.pages %}
    {% if p == daps_list %}
      <li class="active"><a>{{ daps_list }}</a></li>
    {% else %}
      <li><a href="?page={{ p.number }}">{{ p }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
<div class="panel panel-default">
  <table class="table">
  {% for dap in daps_list.object_list %}
    <tr>
      <td><a href="{% url 'dapi.views.dap' dap.package_name %}">{{ dap.package_name }}</a></td>
      <td>{{ dap.latest.summary }}</td>
      <td>{% if dap.average_rank %}{{ dap.average_rank|floatformat }} <span class="glyphicon glyphicon-star"></span> by {{ dap.rank_count }} <span class="glyphicon glyphicon-user"></span>{% endif %}</td>
      <td><a href="{% url 'dapi.views.user' dap.user %}">{% gravatar dap.user.email 16 dap.user.username %} {{ dap.user }}</a></td>
    </tr>
  {% endfor %}
  </table>
</div>
{% else %}
<p>There are no active DAPs{% if tag %} tagged with {{ tag }}{% endif %}.</p>
{% endif %}

{% endblock %}
