{% extends "dapi/base.html" %}
{% block title %}Index{% endblock %}
{% block content %}

<div class="row">

{% if top_rated %}
  <div class="container col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Top rated daps</div>
      <ul class="list-group">
      {% for dap in top_rated %}
        <li class="list-group-item">
          <a href="{% url 'dapi.views.dap' dap.package_name %}" title="{{ dap.latest.summary }}">{{ dap.package_name }}</a>
          {% if dap.average_rank %}({{ dap.average_rank|floatformat }}){% endif %}
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if most_rated %}
  <div class="container col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Most rated daps</div>
      <ul class="list-group">
      {% for dap in most_rated %}
        <li class="list-group-item">
          <a href="{% url 'dapi.views.dap' dap.package_name %}" title="{{ dap.latest.summary }}">{{ dap.package_name }}</a>
          ({{ dap.rank_count }} times)
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

{% if recent %}
  <div class="container col-sm-4">
    <div class="panel panel-default">
      <div class="panel-heading">Recent daps</div>
      <ul class="list-group">
      {% for dap in recent %}
        <li class="list-group-item">
          <a href="{% url 'dapi.views.dap' dap.package_name %}" title="{{ dap.latest.summary }}">{{ dap.package_name }}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}

</div>

{% endblock %}
