{% extends "dapi/base.html" %}
{% block content %}
<h1>Terms of Use</h1>
  <ol start="0">
    <li>
      <h2>Definitions</h2>

      <p>"Content" means any material, data or information, including data
      files, text and software.</p>

      <p>"Red Hat" means Red Hat, Inc.</p>

      <p>"Red Hat Parties" means Red Hat, its employees, officers, directors,
      affiliates and agents.</p>

      <p>"Terms" means the terms and conditions set forth in this document.</p>

      <p>"Website" means this website, including the services provided through
      this website.</p>
    </li>

    <li>
      <h2>General Information</h2>

      <p>Your use of the Website is subject to the Terms, which form a binding
      legal agreement between you and Red Hat concerning your use of the
      Website.</p>
    </li>

    <li>
      <h2>Your Agreement to the Terms</h2>

      <p>Your use of the Website signifies that you have read, understand and
      agree to be bound by the Terms. By accessing or using the Website you
      also represent that you have the legal authority to accept the Terms
      on behalf of yourself and any party you represent in connection with
      your use of the Website. If you do not agree to the Terms, you are not
      authorized to use the Website.</p>
    </li>

    <li>
      <h2>Changes to the Terms</h2>

      <p>We encourage you to periodically review the Terms. From time to time,
      Red Hat may change, remove, add to or otherwise modify the Terms
      (resulting in "Revised Terms"), in which case Red Hat will post the
      Revised Terms on the Website and indicate the date of
      revision. Revised Terms take effect immediately upon posting. If you
      do not agree to the Revised Terms, you may terminate this agreement by
      ceasing use of the Website. Your continued use of the Website after
      Revised Terms are effective indicates that you have read, understood
      and agreed to the Revised Terms.</p>
    </li>

    <li>
      <h2>General Provision of the Website</h2>

      <p>You may only use the Website in accordance with the Terms. You may not
      use the Website for any purpose that is unlawful or prohibited by
      these Terms. You access and use the Website at your own risk. You are
      responsible for compliance with applicable law. Red Hat may, at any
      time and for any reason, modify, suspend or terminate the Website, or
      the operation of or access to the Website.</p>
    </li>

    <li>
      <h2>User Conduct</h2>

      <p>You agree not to use the Website to:</p>

      <ol type="a">
        <li><p>Upload Content that you do not have the right to distribute
        or use under applicable law, or which infringes the rights of
        any third party;</p></li>

        <li><p>Upload Content comprising advertising or promotional
        materials;</p></li>

        <li><p>Upload Content that contains malware or other software
        designed to interrupt, destroy or limit the functionality of any
        software or hardware or otherwise interfere with or disrupt the
        Website;</p></li>

        <li><p>Upload Content that is harmful, offensive, obscene, abusive,
        invasive of privacy, defamatory, or hateful, incites an illegal
        act, is designed to intimidate or harass another, or is
        otherwise in breach of your obligations to any person or
        contrary to any applicable laws and regulations;</p></li>

        <li><p>Remove, circumvent, disable, damage or otherwise interfere with
        any security-related features that enforce limitations on the use
        of the Website;</p></li>

        <li><p>Attempt to gain unauthorized access to the Website, other
        accounts, systems or networks associated with the Website, or
        interfere or attempt to interfere with the proper working of the
        Website or any activities conducted through the Website;</p></li>

        <li><p>Upload any personally identifiable information about persons
        under 13 years of age; or</p></li>

        <li><p>Use the Website in any manner that could disable, overburden,
        damage or impair the Website, or interfere with any other
        party's use of the Website.</p></li>
      </ol>
    </li>

    <li>
      <h2>Website Content</h2>

      <ol type="a">
        <li>
          <h3>Responsibility for Content</h3>

          <p>You understand that all Content which you may have access to
          through your use of the Website is the sole responsibility of
          the person who uploaded the Content. This includes assertions
          that persons may make, expressly or impliedly, about the
          provenance and ownership of Content that they upload or
          reference in Content that they upload.</p>
        </li>
        <li>
          <h3>Trademarks</h3>

          <p>Red Hat's trademarks and logos may only be used with permission,
          apart from lawful uses under applicable law that do not require
          permission.</p>
        </li>
        <li>
          <h3>Licenses</h3>

          <ol type="i">
            <li><p><strong>Red Hat Content:</strong> All Content
            (other than Red Hat logos and software code) copyrighted
            by Red Hat and/or its affiliates and
            made available through the Website is licensed under the
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International
            license</a>, unless marked otherwise. All software code copyrighted
            by Red Hat and/or its affiliates and made available through the
            Website is licensed under the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License (Version 3)</a>,
            unless marked otherwise.</p></li>

            <li><p><strong>Content Uploaded by You:</strong>
            You retain your ownership of
            Content that you upload to the Website. You agree that all
            Content copyrighted by you that you upload to the Website is
            made available under the terms of the
            <a href="http://opensource.org/licenses/MIT">MIT license</a> if you do not
            explicitly indicate an alternative license for such Content. In
            such a case, you agree that Red Hat is under no condition or
            obligation to provide notice of such licensing, or your
            ownership of such Content, apart from publication of these
            Terms. If you upload Content that is explicitly licensed, such
            licenses shall include only licenses selected from the
            appropriate categorical sublist of the full list of
            <a href="https://fedoraproject.org/wiki/Licensing">acceptable
            licenses for the Fedora Project</a>, as that list may be
            revised from time to time by the Fedora Project Board. You must
            not upload to the Website copyrighted Content that is not
            licensed in a manner consistent with the foregoing requirements,
            regardless of whether such Content is copyrighted by you or a
            third party.</p></li>
          </ol>
        </li>
        <li>
          <h3>Content You Provide</h3>

          <p>You represent and warrant that no Content uploaded by you to the
          Website violates or infringes upon the rights of any third
          party, including copyright, patent, trademark, privacy,
          publicity or other personal or proprietary rights, or contains
          libelous, defamatory or otherwise unlawful material. Red Hat
          may, but is not obligated to, review Content uploaded by you and
          may delete or remove (without notice) any Content in its sole
          discretion for any reason. Red Hat does not endorse or support
          any Content uploaded by you or anyone else through the
          Website.</p>
        </li>
        <li>
          <h3>Use of Content </h3>

          <p>You represent and warrant that you will use Content available
          through the Website in accordance with its applicable
          license. You agree that you are solely responsible for your use
          of Content made available through the Website. You agree that
          you must evaluate, and bear all risks associated with, the use
          of any Content, including any reliance on the provenance,
          ownership, accuracy, completeness, or reliability of such
          Content. Red Hat does not guarantee that Content made available
          through the Website does not infringe the rights of any third
          party.</p>
        </li>
      </ol>
    </li>

    <li>
      <h2>Export Control</h2>

      <p>By using the Website, you represent and warrant that you are not
      located in, under the control of, or a national or resident of any
      country to which the United States has embargoed goods. You agree you
      will not export or re-export any goods or products unless you have
      complied with all applicable government export controls and
      approvals. Red Hat makes no claim that Content made available through
      the Website is appropriate or may be accessed outside the United
      States. If you access the Website from outside the United States, you
      do so at your own risk and are responsible for compliance with the
      laws of your jurisdiction.</p>
    </li>

    <li>
      <h2>Third Party Websites</h2>

      <p>The Website may contain links to websites not controlled by Red Hat
      ("Third Party Websites"). You acknowledge that Red Hat is not
      responsible or liable for any Third Party Websites or information made
      available at any Third Party Website.</p>
    </li>

    <li>
      <h2>Disclaimer of Warranties</h2>

      <p>To the fullest extent permitted by applicable law, Red Hat offers the
      Website as-is and makes no representations or warranties of any kind
      concerning the Website, express, implied, statutory or otherwise,
      including, without limitation, warranties of title, merchantibility,
      fitness for a particular purpose, or noninfringement. Red Hat does not
      warrant that the functions or content associated with the Website will
      be uninterrupted or error-free, that defects will be corrected, or
      that the servers used to make the Website available are free of
      harmful components. Red Hat does not warrant or make any
      representation regarding use or the result of use of Content with
      respect to accuracy, reliability, or otherwise.</p>
    </li>

    <li>
      <h2>Limitation of Liability</h2>

      <p>Except to the extent required by applicable law, in no event will the
      Red Hat Parties be liable to you on any legal theory for any
      incidental, direct, indirect, punitive, actual, consequential,
      special, exemplary or other damages, including without limitation,
      loss of revenue or income, lost profits, pain and suffering, emotional
      distress, cost of substitute goods or services, or similar damages
      suffered or incurred by you or any third party that arise in
      connection with the Website (or the termination or modification of any
      aspect of the Website), even if the Red Hat Parties have been advised
      of the possibility of such damages.</p>
    </li>

    <li>
      <h2>Indemnification</h2>

      <p>You agree to indemnify and hold harmless the Red Hat Parties from and
      against all loss, expenses, damages, and costs, including reasonable
      attorneys fees, resulting, whether directly or indirectly, from your
      violation of the Terms. You also agree to indemnify and hold harmless
      the Red Hat Parties from and against all claims brought by third
      parties arising out of your use of the Website and the Content you
      make available through the Website.</p>
    </li>

    <li>
      <h2>Privacy Statement</h2>

      <p>Red Hat agrees to use your personal information in accordance with its
      <a href="http://www.redhat.com/legal/privacy_statement.html">Privacy Statement</a>. The
      Privacy Statement is incorporated by reference into these Terms. In
      the event of any conflict between these Terms and the Privacy
      Statement, the Privacy Statement shall control.</p>
    </li>

    <li>
      <h2>DMCA Compliance</h2>

      <p>To file a notice of copyright infringement with Red Hat concerning the
      Website, please provide the following information to the Red
      Hat-designated copyright agent listed below:</p>

      <ol>
        <li><p>A description of the copyrighted work that you claim has been
        infringed.</p></li>

        <li><p>A description of the material that you claim is infringing the
        copyrighted work listed in item 1.</p></li>

        <li><p>An address, telephone number, and an email address at which
        the alleged infringing party can contact you.</p></li>

        <li><p>The following statement: "I have a good faith belief that use of
        the copyrighted materials described above as allegedly infringing
        is not authorized by the copyright owner, its agent, or the law."</p></li>

        <li><p>The following statement: "I swear, under penalty of perjury, that
        the information in the notification is accurate and that I am the
        copyright owner or am authorized to act on behalf of the owner of
        an exclusive right that is allegedly infringed."</p></li>

        <li><p>Your electronic or physical signature.</p></li>
      </ol>
      <p>To file a counter notification, please provide the following
      information to the Red Hat-designated copyright agent listed below:</p>

      <ol>
        <li><p>A description of the material that Red Hat has removed or to which
        Red Hat has disabled access.</p></li>

        <li><p>Your name, address, telephone number, email address, and a
        statement that you consent to the jurisdiction of the United
        States District Court for the judicial district in which your
        address is located (or the United States District Court for the
        Eastern District of North Carolina if your address is outside of
        the United States), and that you will accept service of process
        from the person who provided notification of infringement or an
        agent of such person.</p></li>

        <li><p>The following statement: "I swear, under penalty of perjury, that
        I have a good faith belief that the material identified above was
        removed or disabled as a result of a mistake or misidentification
        of the material to be removed or disabled."</p></li>

        <li><p>Your electronic or physical signature.</p></li>
      </ol>

      <p>Red Hat has registered a designated agent with the Copyright Office
      pursuant to 17 U.S.C. 512(c). Please send notifications of
      infringement and counter notifications to the designated agent at:</p>

      <p>Vice President, Intellectual Property<br />
      Red Hat, Inc.<br />
      100 East Davie Street<br />
      Raleigh, NC 27601<br />
      USA<br />
      phone: +1 919 754 3700<br />
      fax: +1 919 754 3704<br />
      email: dmca at redhat dot com</p>
    </li>

    <li>
      <h2>Termination </h2>

      <p>These Terms will continue to apply until terminated by either you or
      Red Hat. Your right to access and use the Website terminates
      automatically upon your breach of any of these Terms.</p>

      <p>Sections 9, 10, 11 and 15 of the Terms, and your warranties under the
      Terms, shall survive any termination.</p>
    </li>

    <li>
      <h2>Jurisdiction, Venue and Applicable Law</h2>

      <p>The Terms are governed by the laws of the State of New York, exclusive
      of its choice of law rules. You agree that any disputes or proceedings
      between you and Red Hat concerning the Terms and/or the Website shall
      be brought in a federal or state court of competent jurisdiction
      sitting in the Eastern District of North Carolina. You consent to the
      personal jurisdiction and venue of such court.</p>
    </li>

    <li>
      <h2>Miscellaneous</h2>

      <p>Red Hat's failure to insist on or enforce strict performance of any of
      the Terms shall not be construed as a waiver of any provision or
      right. If any part of the Terms is held to be invalid or unenforceable
      by any law or regulation or final determination of a competent court
      or tribunal, that provision will be deemed severable and will not
      affect the validity and enforceability of the remaining
      provisions. The Terms constitute the entire agreement between you and
      Red Hat relating to this subject matter and supersede all prior,
      contemporaneous and future communications (with the exception of
      future amendments to the Terms as made available by Red Hat from time
      to time) between you and Red Hat.</p>
    </li>

    <li>
      <h2>License and Provenance of These Terms</h2>

      <p>These Terms are licensed under the
      <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0
      International License</a>. They are based
      on and a modification of the
      <a href="http://creativecommons.org/terms">Creative Commons Terms of Use</a>,
      authored by Creative Commons Corporation.</p>

      <p>These Terms of Use are effective as of April 23, 2014.</p>
    </li>
  </ol>
{% endblock %}
