{% extends "dapi/base.html" %}
{% block title %}Upload a dap{% endblock %}
{% block content %}
<div class="page-header">
  <h1>Upload a dap</h1>
</div>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p><strong>Don't have a clue what to upload?</strong> <a href="http://docs.devassistant.org/en/latest/developer_documentation/create_assistant/packaging_and_distributing.html">The documentation</a> will solve that.</p>

  <p>By submitting this form, you agree to <a href="{% url 'dapi.views.terms' %}">the Terms of Use</a>. This is a summary of (and not a substitute for) the requirements contained in the Terms of Use:</p>

  <p>Do not upload:</p>

  <ul>
    <li>content you don't have the right to use or distribute</li>
    <li>advertising or promotional materials</li>
    <li>malware</li>
    <li>offensive, obscene, hateful, defamatory, or illegal content</li>
    <li>content that is not governed by <a href="https://fedoraproject.org/wiki/Licensing:Main?rd=Licensing#Good_Licenses">one of the acceptable licenses for the 
    Fedora Project</a></li>
  </ul>

  <p>You are solely responsible for the content you upload.
  Content you upload remains yours (if you own it).
  We may remove any content you upload at any time, for any reason.</p>
  {{ form.as_p }}
  <p><button type="submit" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-upload"></span> Upload</button></p>
</form>

{% endblock %}
