{% extends "dapi/base.html" %}
{% block title %}{{ u }} {% if u.get_full_name %} ({{ u.get_full_name }}){% endif %}{% endblock %}
{% load gravatar %}
{% block content %}
<div class="row">
  <div class="container col-sm-4">
    {% gravatar u.email 270 u.username %}
    {% if u.get_full_name %}
    <div class="page-header">
      <h1>{{ u.get_full_name }}<br />
      <small>{{ u.username }}{% if u.is_staff %}<br />
      <span class="label label-success">ADMIN</span>{% endif %}</small></h1>
    </div>
    {% else %}
    <div class="page-header">
      <h1>{{ u.username }}{% if u.is_staff %}<br />
      <span class="label label-success">ADMIN</span>{% endif %}</h1>
    </div>
    {% endif %}
    
    <p><span class="glyphicon glyphicon-time"></span> Joined on {{ u.date_joined|date:'M d, Y' }}</p>
    <p><span class="glyphicon glyphicon-time"></span> Last seen on {{ u.last_login|date:'M d, Y' }}</p>
    {% load method_call %}
    {% for backend in backends.backends %}
    {% if u.profile|args:backend|call:'get_social_username' %}
    <p><span class="glyphicon glyphicon-user"></span>
    <a href="{{ u.profile|args:backend|call:'get_social_url' }}">{{ u.profile|args:backend|call:'get_social_username' }}</a> at {{ backend|title }}</p>
    {% endif %}
    {% endfor %}
    {% if user == u or user.is_superuser %}
    <p class="text-center"><a href="{% url 'dapi.views.user_edit' u %}" class="btn btn-primary"><span class="glyphicon glyphicon-wrench"></span> Edit {{ u }}</a></p>
    {% endif %}
  </div>


  <div class="container col-sm-4">
{% if u.metadap_set.exists %}
    <div class="panel panel-default">
      <div class="panel-heading">Daps owned by {{ u }}</div>
      <ul class="list-group">
      {% for dap in u.metadap_set.all|dictsortreversed:'rank_count'|dictsortreversed:'average_rank'|dictsortreversed:'active' %}
        <li class="list-group-item">
          <a href="{% url 'dapi.views.dap' dap.package_name %}">{% if not dap.active %}<del>{% endif %}{{ dap.package_name }}{% if not dap.active %}</del>{% endif %}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
{% else %}
    <p>{{ u }} doesn't own any daps yet.</p>
{% endif %}
  </div>

  <div class="container col-sm-4">
{% if u.codap_set.exists %}
    <div class="panel panel-default">
      <div class="panel-heading">Daps comaintained by {{ u }}</div>
      <ul class="list-group">
      {% for dap in u.codap_set.all|dictsortreversed:'rank_count'|dictsortreversed:'average_rank'|dictsortreversed:'active' %}
        <li class="list-group-item">
          <a href="{% url 'dapi.views.dap' dap.package_name %}">{% if not dap.active %}<del>{% endif %}{{ dap.package_name }}{% if not dap.active %}</del>{% endif %}</a>
        </li>
      {% endfor %}
      </ul>
    </div>
{% else %}
    <p>{{ u }} doesn't comaintain any daps.</p>
{% endif %}
  </div>

</div>
{% endblock %}
