Django==1.6
South
PyYAML
python-social-auth>=0.2
django-taggit
django-simple-captcha
django-haystack
whoosh
djangorestframework>=2.4
django-gravatar2
markdown2
Markdown
-e git+git://github.com/devassistant/devassistant.git@565a3cf#egg=devassistant
