Django==1.6
South
daploader
PyYAML
django-taggit
django-simple-captcha
django-haystack
whoosh
django-gravatar2
markdown2
Markdown
-e git+git://github.com/omab/python-social-auth.git@c5dd3339#egg=python-social-auth
-e git+git://github.com/tomchristie/django-rest-framework.git@03b4c60b#egg=djangorestframework
