{% extends 'dapi/base.html' %}
{% load static %}
{% load gravatar %}

{% block head_scripts %}
    <link rel=stylesheet type="text/css" href="{% static 'bootstrap-switch.min.css' %}" />
    <link rel=stylesheet type="text/css" href="{% static 'chosen.min.css' %}" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'bootstrap-switch.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'chosen.jquery.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
    $("input[type=\"checkbox\"], input[type=\"radio\"]").not("[data-switch-no-init]").bootstrapSwitch();
    $("select").chosen()
    </script>
{% endblock %}

{% block content %}
{% if query %}
<div class="page-header">
  <h1>{% block title %}Results for {{ query }}{% endblock %}</h1>
</div>

<div class="panel panel-default">
  <table class="table">
  {% for result in page.object_list %}
    <tr>
      <td><a href="{% url 'dapi.views.dap' result.object.package_name %}">{{ result.object.package_name }}</a></td>
      <td>{{ result.object.latest.summary }}</td>
      <td>{% if result.object.average_rank %}{{ result.object.average_rank|floatformat }} <span class="glyphicon glyphicon-star"></span> by {{ result.object.rank_count }} <span class="glyphicon glyphicon-user"></span>{% endif %}</td>
      <td><a href="{% url 'dapi.views.user' result.object.user %}">{% gravatar result.object.user.email 16 result.object.user.username %} {{ result.object.user }}</a></td>
    </tr>
  {% empty %}
    <tr><td>No results found. Maybe try to search for something else, or use different search options below.</td><tr>
  {% endfor %}
  </table>
</div>

{% if page.paginator.num_pages > 1 %}
<ul class="pagination">
  <li{% if not page.has_previous %} class="disabled"{% endif %}>
    <a{% if page.has_previous %} href="?{{ url }}&amp;page={{ page.previous_page_number }}"{% endif %}>&laquo;</a>
  </li>
  {% for num in page.paginator.page_range %}
    {% ifequal num page.number %}
      <li class="active"><a>{{ num }}<span class="sr-only">(current)</span></a></li>
    {% else %}
      <li><a href="?{{ url }}&amp;page={{ num }}">{{ num }}</a></li>
    {% endifequal %}
  {% endfor %}
  <li{% if not page.has_next %} class="disabled"{% endif %}>
    <a{% if page.has_next %} href="?{{ url }}&amp;page={{ page.next_page_number }}"{% endif %}>&raquo;</a>
  </li>
</ul>
{% endif %}

{% endif %}

<h2>Advanced search</h2>

<form role="search" method="get" action="/search">
{{ form.as_p }}
<div class="form-actions">
  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Search</button>
</div>
</form>

{% endblock %}
