{% extends 'dapi/base.html' %}

{% block content %}
    {% if query %}
        <h1>Results</h1>

        {% for result in page.object_list %}
            <p>
                <a href="{% url 'dapi.views.dap' result.object.package_name %}">{{ result.object.package_name }}</a>
            </p>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div class="pagination">
                <span class="step-links">
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">previous</a>{% endif %}
                    <span class="current">Page {{ page.number }} of {{ page.paginator.num_pages }}.</span>
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">next</a>{% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
